* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.bigContainer {
    margin-top: 2%;
    border: 2px black solid;
    width: fit-content;
    padding: 12px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightsteelblue;
    border-radius: 10px;
    box-shadow: 0 0 20px;
}

.show {
    width: 350px;
    /* border-bottom: 2px black solid; */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border-radius: 50px;
    margin-top: 10px;
}

.show h1 {
    font-size: 3rem;
}

.others {
    width: 90%;
    height: 75%;
    /* border: 2px black solid; */
    margin-top: 20px;
}

.divContainer {
    display: flex;
    justify-content: center;
    /* border: 2px red solid; */
    height: 100%;
}

.num {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    margin: 5px;
    background-color: black;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.sign {
    background-color: red;
}
.add {
    background-color: brown;

}
.sub {
    background-color: purple;

}
.mul {
    background-color: lightblue;
}

.div {
    background-color: green;
}
